{% extends 'travel_wishlist/base.html' %}
{% block content %}



<h2> Travel Wishlist </h2>

<form method="POST" action="{% url 'place_list' %}">

  {% csrf_token %}
  {{ form }}

  <button type="submit">Add Location</button>
</form>


{% for place in places %}

<div>

  <a href="{% url 'location_details' pk=place.pk %}"> {{ place.name }}</a>

</div>


{% empty %}

<p> You have no places in your wishlist </p>

{% endfor %}

<a href="{% url 'places_visited' %}">Places you have visited.</a>

{% endblock %}
